*
{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

h2
{
    margin-top: 50px;
    margin-bottom: 10px;
}

h3
{
    text-transform: uppercase;
    margin-top: 20px;
}

.sous-titre
{
    color:grey;
    margin-bottom: 20px;
}

/* ------------------ HEADER ---------------------------------*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo
{
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#header-logo img
{
    width:60px
}

nav ul
{
    display: flex;
    margin-right: 20px;
}

nav li
{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight:900;
    border-right: 3px solid black;
}

nav li:last-child
{
    border-right: none;
}

nav a 
{
    color: black;
}

@media screen and (max-width: 945px) 
{
    header
    {
        align-items: center;
        flex-wrap: wrap;
    }
    nav ul
    {
        flex-direction: column;  
        align-items: center;
        gap: 1rem;      
    }
    nav li
    {
        border-right:none;
    }
}

/* ------------------ BANNER ---------------------------------*/

#banner
{
    background-image: url(../images/backgroundBanner.jpg);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1
{
    margin-top: 9vw;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 4.5vw; 
    text-align: center;
}

#contact-link
{
    background-color:#ff4676;
    border-radius: 5px;;
    width: 25vw;
    height: 5vw;
    margin-top: 2vw;
    margin-bottom: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-link a
{
    font-size: 1.5vw;
    font-weight: bold;
    color:white;
}

/* ------------------ SECTION INTRO ---------------------------------*/

#intro
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#intro-contenu
{
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

#intro-image
{
    margin: 30px;
}

#intro-image img
{
    width: 500px;
}

#intro-text
{
    width: 500px;
    margin: 35px;
}

#intro-text ul
{
    margin-bottom: 30px;
}

#intro-text li
{
    list-style-type: "-";
}

#intro-text p
{
    font-weight: 900;
    margin-bottom: 20px;
}

/* ------------------ SECTION METHOD ---------------------------------*/



#method-link
{
    background-color:white;
    border: 1px solid #ff4676;
    border-radius: 5px;;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#method-link a
{
    font-size: 1.5vw;
    font-weight: bold;
    color:#ff4676;
    text-transform: uppercase;
}

#method
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#method-content
{
    width:100vw;
    padding-left:20vw;
    padding-right: 20vw;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.method-card
{
    width:300px;
    margin:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.method-card-img img
{
    height:70px;
}

.method-card h3
{
    text-align: center;
}

.method-card p
{
    text-align: center;
}

/* ------------------ SECTION SUPPORT ---------------------------------*/


#support
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#support-content
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#support p
{
    text-align: center;
}

.support-card
{
    width:300px;
    margin:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.support-card h3
{
    text-align: center;
}

.support-card ul
{
    line-height: 30px;
}

.support-card li
{
    text-align: center;
}



.support-link
{
    background-color:white;
    border: 1px solid #ff4676;
    border-radius: 5px;;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-link a
{
    font-size: 1vw;
    font-weight: bold;
    color:#ff4676;
    text-transform: uppercase;
}

/* ------------------ SECTION TESTIMONY ---------------------------------*/

#testimony
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#testimony-content
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimony-card
{
    width:300px;
    margin:15px;
    padding:10px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border: 1px solid #3cd8c5;
    position:relative;
}

.testimony-card p
{
    text-align: center;
}

.portrait
{
    position: absolute;
    top: -50px;
}

.portrait img
{
    border: 8px solid white;
}






